.flower-container {
	margin-top: 90px;
	border-radius: 3px;
}

.flower-card {
	margin-bottom: 20px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.7) 89.5%);
	border-radius: 3px;
}

.card-img {
	height: 350px;
}

.flower-heading {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 70.29%;
	font-weight: normal;
	font-size: 20px;
	line-height: 15px;	
	text-align: center;
	color: #FFFFFF;
}

.flower-subheading {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 76.57%;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.flower-sightings-wrapper {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 85.71%;
	text-align: center;
}

.flower-sightings {
	border: none;
	width: 103px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	color: #FFFFFF;
}

.flower-sightings:hover {
	background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
	box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
}

.flower-sightings-text {
	position: absolute;
	left: 14.56%;
	right: 14.56%;
	top: calc(50% - 12px/2);
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}

.flower-star {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	left: 85.14%;
	top: 5.71%;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.flower-star-favorite {
	background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
	box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
}

.flower-star-img {
	display: inline-block;
	vertical-align: middle
}

.fav-header {
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 40px;	
	text-align: center;	
	color: #949EA0;
	padding-bottom: 15vh;
}

@media screen and (max-width: 992px) and (min-width: 441px) {
	.card-img{
		height: 290px;
	}

	.flower-heading{
		top: 65.42%;
		font-size: 16px;
	}

	.flower-subheading {
		top: 72.07%;
	}  

	.flower-star{
		left: 80.14%;
	}
}

@media (max-width:440px){
	.card-img {
		height: 230px;
	}

	.flower-heading{
		top: 62.42%;
		font-size: 16px;
	}

	.flower-subheading {
		top: 69.07%;
	}

	.flower-sightings-wrapper {
		top: 82.71%;
	}

	.flower-star{
		left: 75.14%;
	}
}