.header {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(/src/flower.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}
h1{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    font-family: Montserrat;
}
.text-faded{
    font-size: 17px;
    opacity: 0.7;
    font-weight: 300;
}
#search{
    height: 60px;
}
input{
    color: #949ea0;
    font-size: 18px;
    font-weight: 300;
}
input:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.input-group-append{
    background-color: white !important;
    border-radius: .25rem;
}
.btn-outline-secondary:hover {
    background-color: white !important;
}
.btn-outline-secondary:active, .btn-outline-secondary:focus {
    outline: none !important;
    box-shadow: none !important;
}
.input-group-append .search-icon{
    color: #eaa79e;
    font-size: 20px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent !important;
}

