.navbar {
    margin: 15px 0;
}

.navbar-link{
    font-size: 14px;
    font-weight: 500;
    color: #949ea0;
    padding: 0 30px !important;
}
.navbar-link:hover{
    color: #df9186;
}

.navbar-btn{
    border-radius: 50px;
    background-color: #eaa79e;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    color: white;
}

.navbar-login-item{
    color: #df9186;
}

.navbar-btn:hover{
    opacity: 0.9;
    color: #ececec !important;
}